@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-primary-50: #F0F9FF;
  --color-primary-100: #E0F2FE;
  --color-primary-200: #BAE6FD;
  --color-primary-300: #7DD3FC;
  --color-primary-400: #38BDF8;
  --color-primary-500: #0EA5E9;
  --color-primary-600: #0284C7;
  --color-primary-700: #0369A1;
  --color-primary-800: #075985;
  --color-primary-900: #0C3A66;
  --color-primary-950: #051E3E;

  --color-purple-50: #F3E8FF;
  --color-purple-100: #E9D5FF;
  --color-purple-200: #D8B4FE;
  --color-purple-300: #C084FC;
  --color-purple-400: #A855F7;
  --color-purple-500: #9333EA;
  --color-purple-600: #7E22CE;
  --color-purple-700: #6B21A8;
  --color-purple-800: #581C87;
  --color-purple-900: #3F0F5C;
  --color-purple-950: #27031A;

  --color-emerald-50: #F0FDF4;
  --color-emerald-100: #DBEAFE;
  --color-emerald-200: #B3F5D1;
  --color-emerald-300: #75EDAE;
  --color-emerald-400: #4ADE80;
  --color-emerald-500: #10B981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --color-emerald-800: #065F46;
  --color-emerald-900: #064E3B;
  --color-emerald-950: #022C1D;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}
